html {
	background-color: #70ff8a;
  	background: url(images/jura.jpg) no-repeat center center fixed; 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
	font-family: 'Open Sans', Tahoma, sans-serif;
}
body {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	padding-left: 20px;
	padding-right: 20px;
}

header {
	margin: 0px;
	padding: 20px;
	color: #267326;
}
header h1 {
	margin: 0;
	padding: 0;
}
header p {
	margin: 0;
	padding-bottom: 0;
	font-size: 120%;
}
.content-area {
	border-top: 3px solid #b3e5b3;
	border-bottom: 3px solid #b3e5b3;
	overflow: auto;
}
.main-content {
	width: 60%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
	font-size: 105%;
}
.sidebar {
	width: 40%;
	float: right;
	padding: 20px 40px;
	margin-bottom: 10px;
	background-color: #b3e5b3;
	box-sizing: border-box;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 100%;
}
footer {
	text-align: center;
	padding: 20px 20px;
	color: #999;
}
/* Navigation Style */
.site-nav ul {
	margin-top: 0;
	margin-bottom: 15px;
	padding-bottom: 0;
	padding-left: 0px;
}
.site-nav li {
	list-style: none;
	display: inline;
	padding: 20px 9px;
}
.site-nav a {
	display: inline-block;
	text-decoration: none;
	border: 3px solid #b3e5b3;
	border-radius: 8px 5px 8px 5px;
	background-color: #8cd98c;
	padding: 10px 10px;
	text-shadow: 2px 2px 2px #999966;
	color: black;
}
.site-nav a:hover {
	background: radial-gradient(#d9f2d9, #8cd98c);
}
.rotate {
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Safari */
    transform: rotate(3deg);
}
/* End of Navigation Style */
/* image styling */
.images {
	margin: 0;
	margin-top: 10px;
	padding: 0;
	border: 3px solid #b3e5b3;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: auto;
}
.homepage-image {
	float: right;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	border: 3px solid #b3e5b3;
}
/* end of image styling */